!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}C Sci Blog
    %meta(name="description" content="Blog about computer science, node.js, Clojure, and Javascript.")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        .hthing
          NodeJS, Javascript, Clojure, Java
      = content
      
      #footer
        %p &copy; 2012 Austin Yun under the MIT license.
        %p Design by&nbsp;
          %a{href: "http://bengourley.co.uk"} Ben Gourley
           originally, modified by me. All code snippets used in the examples are in the public domain.
        %p Wheat running on node #{process.version}
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
